.about {
  position: relative;
  background: #fff;
  &__inner {
    padding: 40px 60px 140px;
  }
  .sec-ttl {
    text-align: right;
    background: linear-gradient(-45deg, #000, #1c0000);
    background: -webkit-linear-gradient(0deg, #000, #550101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:before {
      content: "";
      display: inline-block;
      width: 180px;
      height: 1px;
      background: #000;
      vertical-align: middle;
    }
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    margin: 60px 0 0;
    &-img {
      width: 500px;
      border-radius: 10px;
      margin: 0 40px 0 0;
      source,
      img {
        border-radius: 10px;
      }
    }
    &-body {
      width: 600px;
      color: #000;
    }
  }
  &__ttl {
    font-weight: 900;
    font-size: 32px;
  }
  &__txt {
    margin: 20px 0 0;
    line-height: 2;
  }
}
