.works {
  position: relative;
  background: #000;
  &__inner {
    padding: 40px 60px 140px;
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 80px 100vw 0 0;
    border-color: transparent #fff transparent transparent;
  }
  .sec-ttl {
    text-align: left;
    color: #fff;
    &:after {
      content: "";
      display: inline-block;
      width: 180px;
      height: 1px;
      background: #fff;
      vertical-align: middle;
    }
  }
  .slider {
    &__list {
      display: flex;
      justify-content: space-between;
      margin: 60px 0 0;
    }
    &__item {
      width: calc((100% - 40px) / 3);
    }
    &__text-area {
      padding: 30px 20px;
    }
    &__ttl {
      font-size: 20px;
      font-weight: 900;
    }
    &__txt {
      margin: 10px 0 0;
      font-weight: 500;
      line-height: 1.7;
    }
  }
  .btn {
    position: relative;
    font-weight: 900;
    font-size: 26px;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      background: #fff;
      position: absolute;
      transition: 0.5s;
    }
    &::before {
      width: 60px;
      top: 60%;
      right: -65px;
    }
    &:hover::before {
      right: -70px;
      transition: 0.5s;
    }
    &:after {
      width: 20px;
      top: 40%;
      right: -68px;
      transform: rotate(45deg);
    }
    &:hover::after {
      right: -73px;
      transition: 0.5s;
    }
    &__area {
      margin: 10px 80px 0 0;
      text-align: right;
    }
  }
}
